*{
    margin: 0px;
    padding: 0px;
    color: white;
}
.container{
    height: 60px;
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
button{
    color: white;
    margin: 10px;
    background-color: black;
    border: black;
}
button:hover{
    background-color: whitesmoke;
    color: black;
}
.button{
    margin-right: 15px;
}
.name{
    margin: 0px 0px 0px 15px;
}
body{
    background-color: rgb(133, 133, 79);
}
